<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floranza Floreria</title>
    <link rel="stylesheet" href="./Style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/floranza-logo.jpg" alt="">
            <h5>Floranza Floreria</h5>
            <!-- <a href="#"><h1>IoT</h1></a> -->
        </div>
        <div class="navegacion">
            <input type="checkbox" class="toggle-menu">
            <div class="burgir"></div>
                <ul class="menu">
                    <li><a href="#">Articulos</a></li>
                    <li><a href="#">Opiniones</a></li>
                    <li><a href="#">Podcast</a></li>
                    <div class="mar">
                        <button class="inbutton">
                            <li><a href="#">Sign In</a></li>
                        </button>
                        <button class="upbutton">
                            <li><a href="#">Sign Up</a></li>
                        </button>
                </ul>
            </div> 
        </div>
    </header>
    <div class="container">
        <div class="candle">
            <div class="blink"></div>
            <div class="thread"></div>
            <div class="flame"></div>

        </div>
    </div>

    <main>
        <img src="https://scontent.fpvr1-1.fna.fbcdn.net/v/t39.30808-6/314382708_525206009617255_7304751158700504300_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGr_EAb2Eog1MESMvOMoBKHwW8AffAm1wTBbwB98CbXBE7oF3LtoWC6L5QtIH2gz6crwu4uEsq22y7SmC-Wm_He&_nc_ohc=QNoxidTDY7UAX9JfFMz&_nc_ht=scontent.fpvr1-1.fna&oh=00_AfC4Of4DHeOqxX3Jh6TCK2iIb2mTpak6SGJWD05pKHcKIA&oe=6397A75C" alt="">
    </main>

</body>
</html>