<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floranza Floreria</title>
    <link rel="stylesheet" href="./Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="img/floranza-logo.jpg" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="img/floranza-logo.jpg" alt="">
            <h5>Floranza Floreria</h5>
        </div>
        <div class="navegacion">
            <input type="checkbox" class="toggle-menu">
            <div class="burgir"></div>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Prodcutos</a></li>
                <li><a href="/ubicaciones">Ubicacion</a></li>
                <div class="mar">

                    <button class="upbutton">
                        <li><a href="#">Pedir</a></li>
                    </button>
            </ul>
        </div>
        </div>
    </header>
    <main>
        <h2>Galeria</h2>
        <div class="container">
            <% rows.forEach(inicio=>{ %>
                <div class="caja">
                    <img src="<%=inicio.img%>" />
                    <h1>
                        <%=inicio.producto%>
                    </h1>

                </div>
                <% }) %>
        </div>

    </main>
    <section>
        <h2>Metodos de Pago</h2>
        <div class="container2">
            <% pay.forEach(pago=>{ %>
                    <img src="<%=pago.img%>" />
                <% }) %>
        </div>
    </section>

    <footer class="foContainer">
        <hr style="height:2px;border-width:0;;background-color:rgb(118, 215, 196, 1)">
        <div class="foParte2">
            <h5>© Floranza Floreria - Todos los derechos reservados.</h5>
            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
</div>
</footer>

</body>

</html>