<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floranza Floreria</title>
    <link rel="stylesheet" href="./Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="img/floranza-logo.jpg" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="img/floranza-logo.jpg" alt="">
            <h5>Floranza Floreria</h5>
        </div>
        <div class="navegacion">
            <input type="checkbox" class="toggle-menu">
            <div class="burgir"></div>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Prodcutos</a></li>
                <li><a href="/ubicaciones">Ubicacion</a></li>
                <div class="mar">

                    <button class="upbutton">
                        <li><a href="#">Pedir</a></li>
                    </button>
            </ul>
        </div>
        </div>
    </header>
    <main>
        <div class="container3">
            <img src="https://i.ibb.co/mRvw3v7/Servicio.jpg" alt="Servicio" border="0">
            
        </div>
    </main>
    <section>
        <h2>¿Donde nos encontramos?</h2>
        <div class="container3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.858042116288!2d-105.22682055637405!3d20.634642332433497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84214564a1011fa9%3A0xd1340f1c5879f2e0!2sFloranza%20Floreria!5e0!3m2!1ses-419!2smx!4v1670566982332!5m2!1ses-419!2smx" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <footer class="foContainer">
        <hr style="height:2px;border-width:0;;background-color:rgb(118, 215, 196, 1)">
        <div class="foParte2">
            <h5>© Floranza Floreria - Todos los derechos reservados.</h5>
            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
</div>
</footer>

</body>

</html>